name: Python application test with pytest # test

on: [push, pull_request]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          cd testing
          pip install requests pandas python-dotenv

      - name: Run unittest
        run: |
          cd testing
          python test_mock.py